@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

html {
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(161, 151, 151);
  box-shadow: 10px 5px 5px rgb(161, 151, 151);
}

.ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.logo {
  margin: 16px 32px;
}

.logo-anchor-tag {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: rgb(230, 120, 138);
}

li {
  margin: 16px 32px;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

.about:hover,
.about:active {
  cursor:pointer;
  color:rgb(230, 120, 138);
}

.services:hover,
.services:active {
  cursor:pointer;
  color:rgb(230, 120, 138);
}

.contact:hover,
.contact:active {
  cursor:pointer;
  color:rgb(230, 120, 138);
}

.home {
  color: rgb(230, 120, 138);
}

.home:hover,
.home:active {
  color:black;
  cursor:pointer;
}

.main-page {
  margin-top: 16px;
}

.grid {
  display: grid;
  grid-template-areas:
    "paragraph paragraph"
    "button button"
    "coach communication";
}

.button {
  grid-area: button;
  height: 38px;
  width: 127px;
  border-radius: 20px;
  background-color: lightcoral;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

.button:hover,
.button:active {
  height:45px;
  width:140px;
  transition-duration:0.5s;
}

.zdj-grid {
  display: flex;
  justify-content: space-around;
  margin: 0 65px;
}

.paragraph {
  margin-top: 32px;
  color: rgb(202, 211, 77);
  grid-area: paragraph;
  height: 20px;
  margin-bottom: 108px;
}

.coach {
  grid-area: coach;
  margin-right: 41px;
  background-color:lightsteelblue;
  padding:20px;
}

.communication {
  grid-area: communication;
  background-color:lightskyblue;
  padding:20px;
  margin-left:-41px;
}

.h3 {
  font-size: 1rem;
}

.coach-communication {
    display:flex;
    font-family: 'Rubik', sans-serif;
    color:rgb(73, 67, 67);
}

.topolska {
  display:flex;
  margin:20px 55px;
}

.wyzwanie {
  padding:15px;
  background-color:rgba(175, 25, 83, 0.575);
  width:57%;
  height: 272px;
}

.pobierz {
  font-family: 'Poppins', sans-serif;
  font-size:20px;
  color:white;
}

.signup {
  font-family: 'Poppins', sans-serif;
  font-size:15px;
  margin-bottom:33px;
  color:white;
}

#email {
  padding:8px;
  border:0.5px solid gray;
}

#fname {
  padding:8px;
  border:0.5px solid gray;
}

#submit {
  padding:10px 65px;
  border:0.5px solid gray;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:700;
  letter-spacing: 3px;

}
.flex {
  display:flex;
  align-items:center;
}

.checkbox-form {
  margin-bottom:16px;
}

#checkbox {
  width:16px;
  height:16px;
  border:1px solid rgb(177, 177, 238);
}
.div-consent {
  width:100%;
  margin-left:8px;
}

.consent {
  width:90%;
  color:white;
}

.img {
  z-index:2;
}